.footer-divider3 {
  position: absolute;
  top: 942.5px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 1px;
}
.copyright18,
.copyright19 {
  position: absolute;
  top: 15px;
  left: 1180px;
  font-size: var(--body-extra-small-size);
}
.copyright19 {
  top: 19px;
  left: 906px;
  font-size: var(--header-h4-size);
  cursor: pointer;
}
.copyright19:active,
.footer-list-item19:active,
.footer-list-item20:active {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
}

.twitter-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.social-media-stack2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-xl);
}
.engenharia-de-servios2 {
  margin: 0;
}
.copyright2 {
  position: relative;
}
.bottom2 {
  position: absolute;
  top: 960px;
  left: 0;
  width: 1440px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-101xl);
  box-sizing: border-box;
}
.by-using-our1 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.x-close-no4 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.by-using-our-site-you-agree-t-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.button6 {
  border-radius: var(--br-9xs);
  background-color: var(--purple-blue);
  height: 36px;
  overflow: hidden;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
}
.button-group,
.button6,
.button7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button7 {
  border-radius: var(--br-9xs);
  height: 36px;
  overflow: hidden;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
  color: var(--purple-blue);
}
.button-group {
  align-items: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--body-small-size);
  color: var(--grey-100);
}
.logo3,
.toast-confirm-light1 {
  position: absolute;
  color: var(--purple-blue);
  text-align: left;
}
.toast-confirm-light1 {
  right: 0;
  bottom: 64px;
  border-radius: var(--br-5xs);
  background-color: var(--purple-white);
  border: 1px solid var(--purple-blue);
  box-sizing: border-box;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-base)
    var(--padding-5xl);
  gap: var(--gap-xs);
}
.logo3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 419.5px);
  left: calc(50% - 71px);
  font-size: var(--font-size-17xl);
  font-weight: 700;
  font-family: var(--font-rubik);
  display: inline-block;
}
.hero-text-gradient {
  position: absolute;
  top: calc(50% - 256.5px);
  left: calc(50% - 378px);
  width: 756px;
  height: 265px;
  object-fit: cover;
}
.button8,
.nav-list-item7 {
  position: absolute;
  top: calc(50% + 92px);
  left: calc(50% + 4px);
  cursor: pointer;
}
.nav-list-item7 {
  left: calc(50% - 100px);
}
.hero {
  position: absolute;
  width: 100%;
  top: calc(50% - 416px);
  right: 0;
  left: 0;
  height: 700px;
  background-image: url(/public/hero1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.landing {
  position: relative;
  background-color: var(--true-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: right;
  font-size: var(--body-large-size);
  color: var(--grey-400);
  font-family: var(--body-default);
}
